<html>
  <head>
    <title>UltiBot</title>
    <link rel="stylesheet" href="/static/css/chat.css">
    <script src="/static/js/chat.js"></script>
  </head>
    <body class="content">
      <h1>UltiBot</h1>
      <h2>Your Ultimate Frisbes rules expert</h2>
      <div id="chat">
        <div id="messages">    
        </div>
        <form id="form">
            <textarea class="textarea" placeholder="Send a message"></textarea>
            <button class="button">Send</button>
        </form>
      </div>
    </body>
    <script>
      initChat("{{ endpoint }}");
    </script>
</html>
